.create-button {
    text-align: right;
    margin: 10px 0px
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button {
    margin: 0px 10px 0px;
    background-color: lightseagreen;
    color: white
}

.delete-button {
    margin: 0px 10px 0px;
    background-color: lightcoral;
    color: white
}

.users-table .ant-table {
    border-radius: 12px;
    overflow: hidden;
}

.users-table .ant-table-tbody>tr:last-child>td:first-child {
    border-bottom-left-radius: 12px;
}

.users-table .ant-table-tbody>tr:last-child>td:last-child {
    border-bottom-right-radius: 12px;
}